<h1 style="text-align: center;">Thank You for Playing Jeopardy!</h1>
<h1 style="text-align: center;">Please Select a Category Followed by a Question!</h1>
<h2 style="text-align: center;">Good Luck!</h2>

<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class = "colNames">A</th>
      <th scope="col" class = "colNames">B</th>
      <th scope="col" class = "colNames">C</th>
      <th scope="col" class = "colNames">D</th>
      <th scope="col" class = "colNames">E</th>
      <th scope="col" class = "colNames">F</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@Html.ActionLink("$200", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$200", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$200", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$200", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$200", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$200", "Index", "JeopardyTable")</td>
    </tr>
    <tr>
      <td>@Html.ActionLink("$400", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$400", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$400", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$400", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$400", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$400", "Index", "JeopardyTable")</td>
    </tr>
    <tr>
      <td>@Html.ActionLink("$600", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$600", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$600", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$600", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$600", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$600", "Index", "JeopardyTable")</td>
    </tr>
    <tr>
      <td>@Html.ActionLink("$800", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$800", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$800", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$800", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$800", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$800", "Index", "JeopardyTable")</td>
    </tr>
    <tr> 
      <td>@Html.ActionLink("$1,000", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$1,000", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$1,000", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$1,000", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$1,000", "Index", "JeopardyTable")</td>
      <td>@Html.ActionLink("$1,000", "Index", "JeopardyTable")</td>
    </tr>
  </tbody>
</table>
@Html.ActionLink("Click here for answer", "Index","Question")