<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">@ViewBag.Categories[0].Title</th>
      <th scope="col">@ViewBag.Categories[1].Title</th>
      <th scope="col">@ViewBag.Categories[2].Title</th>
      <th scope="col">@ViewBag.Categories[3].Title</th>
      <th scope="col">@ViewBag.Categories[4].Title</th>
      <th scope="col">@ViewBag.Categories[5].Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@Html.ActionLink("$200", "Box", "JeopardyTable", new { id = Model[0].QuestionId })</td>
      <td>@Html.ActionLink("$200", "Box", "JeopardyTable", new { id = Model[5].QuestionId })</td>
      <td>@Html.ActionLink("$200", "Box", "JeopardyTable", new { id = Model[10].QuestionId })</td>
      <td>@Html.ActionLink("$200", "Box", "JeopardyTable", new { id = Model[15].QuestionId })</td>
      <td>@Html.ActionLink("$200", "Box", "JeopardyTable", new { id = Model[20].QuestionId })</td>
      <td>@Html.ActionLink("$200", "Box", "JeopardyTable", new { id = Model[25].QuestionId })</td>
    </tr>
    <tr>
      <td>@Html.ActionLink("$400", "Box", "JeopardyTable", new { id = Model[1].QuestionId })</td>
      <td>@Html.ActionLink("$400", "Box", "JeopardyTable", new { id = Model[6].QuestionId })</td>
      <td>@Html.ActionLink("$400", "Box", "JeopardyTable", new { id = Model[11].QuestionId })</td>
      <td>@Html.ActionLink("$400", "Box", "JeopardyTable", new { id = Model[16].QuestionId })</td>
      <td>@Html.ActionLink("$400", "Box", "JeopardyTable", new { id = Model[21].QuestionId })</td>
      <td>@Html.ActionLink("$400", "Box", "JeopardyTable", new { id = Model[26].QuestionId })</td>
    </tr>
    <tr>
      <td>@Html.ActionLink("$600", "Box", "JeopardyTable", new { id = Model[2].QuestionId })</td>
      <td>@Html.ActionLink("$600", "Box", "JeopardyTable", new { id = Model[7].QuestionId })</td>
      <td>@Html.ActionLink("$600", "Box", "JeopardyTable", new { id = Model[12].QuestionId })</td>
      <td>@Html.ActionLink("$600", "Box", "JeopardyTable", new { id = Model[17].QuestionId })</td>
      <td>@Html.ActionLink("$600", "Box", "JeopardyTable", new { id = Model[22].QuestionId })</td>
      <td>@Html.ActionLink("$600", "Box", "JeopardyTable", new { id = Model[27].QuestionId })</td>
    </tr>
    <tr>
      <td>@Html.ActionLink("$800", "Box", "JeopardyTable", new { id = Model[3].QuestionId })</td>
      <td>@Html.ActionLink("$800", "Box", "JeopardyTable", new { id = Model[8].QuestionId })</td>
      <td>@Html.ActionLink("$800", "Box", "JeopardyTable", new { id = Model[13].QuestionId })</td>
      <td>@Html.ActionLink("$800", "Box", "JeopardyTable", new { id = Model[18].QuestionId })</td>
      <td>@Html.ActionLink("$800", "Box", "JeopardyTable", new { id = Model[23].QuestionId })</td>
      <td>@Html.ActionLink("$800", "Box", "JeopardyTable", new { id = Model[28].QuestionId })</td>
    </tr>
    <tr> 
      <td>@Html.ActionLink("$1,000", "Box", "JeopardyTable", new { id = Model[4].QuestionId })</td>
      <td>@Html.ActionLink("$1,000", "Box", "JeopardyTable", new { id = Model[9].QuestionId })</td>
      <td>@Html.ActionLink("$1,000", "Box", "JeopardyTable", new { id = Model[14].QuestionId })</td>
      <td>@Html.ActionLink("$1,000", "Box", "JeopardyTable", new { id = Model[19].QuestionId })</td>
      <td>@Html.ActionLink("$1,000", "Box", "JeopardyTable", new { id = Model[24].QuestionId })</td>
      <td>@Html.ActionLink("$1,000", "Box", "JeopardyTable", new { id = Model[29].QuestionId })</td>
    </tr>
  </tbody>
</table>
